{% extends 'music_nation/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h3><strong>You are already logged in</strong></h3>
<small>Do you want to <a href="{% url 'music_nation:logout' %}"><strong>LogOut</strong></a></small>

{% else %}
  <div class="container">
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}">
      {{ form|crispy }}
      <button type="submit" class="btn btn-success">Login</button>
    </form>
  </div>
{% endif %}
{% endblock %}
